*{
    margin: 0;
    padding: 0;
}
header{
max-width: 90%;
margin: auto;
padding: 30px 0;
display: flex;
justify-content: space-between;
align-items: center;

}
.logo{
   width: 30%; 
}
.logo img{

}
.menu{
   width: 50%; 
   text-align: right;
}
.menu ul{
display: flex;
justify-content: end;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    margin-left: 80px;
    text-transform: uppercase;
    color: rgb(53, 53, 53);
    font-size: 16px;
    font-weight: 100;
}
.banner{
    background-image: url(../images/pexels-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 100vh;
    position: relative;
   

}
.banner_content{
    color: rgb(252, 230, 230);
    text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
transform: translate(-50%,-50%);
  
}
.banner_content h1{
   font-size: 35px;
   padding: 15px 0;
}
.banner_content p{
   font-size: 21px;
   padding: 30px;
}
.banner_content a{
   display: inline-block;
   text-decoration: none;
   color: #fff;
   background-color: rgb(255, 60, 0);
   padding: 10px 20px;
   border: 0.5px solid #fff;
   border-radius: 6px;
   font-size: 17px;
}
.services_content{
max-width: 80%;
margin: auto;
padding: 50px 0;
}
.service{
  display: flex;
  justify-content: space-between;
}
  
.services_item{
 width: 30%;
  text-align: center;
}
.services_item img{

}
.services_item h2{
text-transform: capitalize;
margin: 10px 0;
font-size: 20px;
font-weight: 400;
color: #000000;
}
.services_item p{
   font-size: 15px;
   font-weight: 400;
   color: #626262;
}
.details{
   margin: auto;
   width: 50%;
   text-align: center;
   margin: 100px auto;
}
.details h1{
color: rgb(255, 51, 0);
font-size: 28px;
font-weight: 500;
font-style: italic;
}
/* <!-- services contain start --> */
.main_content{
margin: auto;
display: flex;
justify-content: space-between;
}
.content_item{
  width: 31%; 
  text-align: center;
 
}
.content_item img{
width: 100%;
}
.content_item h2{
   color: #000000;
   padding: 10px 0;
   font-size: 22px;
   font-weight: 400;
   
}
.content_item p{
font-size: 14px;
font-weight: 400;
color: #626262;
}


/* <!-- services contain end --> */
.hello_galaxy{
background-color: #b6b6b6;
padding: 200px;
text-align: center;
}
.hello_galaxy h1{
   margin: 20px ;
   text-transform: uppercase;
}
.galaxy{
max-width: 80%;
margin: auto;
display: flex;
justify-content: space-between;

}
.galaxy_item{
width: 47%;
}
.galaxy_item img{
   width: 100%;

}
.galaxy_item h2{
padding: 15px 0;
text-transform: uppercase;
font-size: 24px;
font-weight: 400;
color: #000000;
}
.galaxy_item p{
   font-size: 17px;
   font-weight: 400;
   color: #292929;

}
footer{
background-color: #292c34;
padding: 20px;
}
.footer_wrapper{
margin: auto;
width: 80%;
display: flex;
justify-content: space-between;
}
.term{
   width: 30%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.term img{
width:15%;
}
.term h2{
   color: rgb(153, 153, 153);
margin-right: 120px;
font-size: 16px;
}
.social_icon{
   width: 30%;
}
.social_icon ul{
display: flex;
justify-content: end;
}
.social_icon ul li{
   list-style: none;
  margin-left: 50px;
  padding: 15px;
}
.social_icon ul li a{
 color: rgb(161, 161, 161);
 font-size: 14px;
}